

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/CSS/indigency.css">
  </head>
  <body>
    <div class="box">
      <a href="/brrs">X</a>
     </div>
    <section class="container">
      <header>INDIGENCY</header>
      <form action="#" class="form">
        <div class="column">
        <div class="input-box">
          <label>FirstName</label>
          <input type="text" placeholder="" required />
        </div>
        <div class="input-box">
            <label>MiddleName</label>
          <input type="text" placeholder="" required />
        </div>
        <div class="input-box">
            <label>Surname</label>
            <input type="text" placeholder="" required />
          </div>
        </div>
        <div class="input-box">
            <label>ADDRESS</label>
            <input type="text" placeholder="" required />
        </div>
          <div class="input-box">
            <label>Years of Stay</label>
            <input type="text" placeholder="" required />
          </div>
          <div class="input-box">
            <label>Purpose</label>
            <input type="text" placeholder="" required />
          </div>
        </div>
            <div class="input-box">
              <label>Name of Patient</label>
              <input type="text" placeholder="" required />
            </div>
     
            <div class="input-box">
              <label>Contact Number</label>
              <input type="text" placeholder="" required />
            </div>
            <div class="input-box">
              <label>Relationship</label>
              <input type="text" placeholder="" required />
            </div>
            <label>Upload ID For Verification</label>
              <div class="upload" >
                  <label for="file">Upload File</label>
                  <input type="file" id="file" required />
              </div>
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>