<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/CSS/papabaranggayid.css" />
  </head>
  <body>
    <div class="box">
      <a href="/brrs">X</a>
     </div>
    <section class="container">
      <header>BARANGAY ID</header>
      <form action="/papabaranggayid" class="form" method="post" enctype="multipart/form-data">
        <div class="column">
        <div class="input-box">
          <label>FirstName</label>
          <input type="text" name="firstname" required />
        </div>
        <div class="input-box">
            <label>MiddleName</label>
          <input type="text" name="mi" required />
        </div>
        <div class="input-box">
            <label>Surname</label>
            <input type="text" name="surname" required />
          </div>
        </div>
        <div class="input-box">
            <label>ADDRESS</label>
            <input type="text" name="address" required />
        </div>
          <div class="input-box">
            <label>Birthday</label>
            <input type="date" name="birthday" required />
          </div>
          <div class="input-box">
            <label>Place of Birth</label>
            <input type="text" name="placeofbirth" required />
          </div>
        </div>
            <div class="input-box">
              <label>Precint Number</label>
              <input type="text" name="precint" required />
            </div>
            <div class="input-box">
              <label>Contact Number</label>
              <input type="number" name="contactno" required />
            </div>
            <div class="column">
              <div class="select-box">
                <select name="gender">
                  <option hidden>Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option> 
                </select>
              </div>
              <div class="select-box">
                <select name="status"> 
                  <option hidden>Status</option>
                  <option value="single">Single</option>
                  <option value="married">Married</option> 
                  <option value="widowed">Widowed</option>
                  <option value="divorced">Divorced</option>
                </select>
              </div>
            </div>
            <div class="input-box">
                <label>Purpose</label>
                <input type="text" name="purpose" required />
            </div>
            <div class="input-box">
                <label>Height</label>
                <input type="text" name="height" required />
            </div>
            <div class="input-box">
                <label>Weight</label>
                <input type="text" name="weight" required />
            </div>
            <label>Contact Person In Case of Emergency</label>
            <div class="input-box">
                <label>Name of Parents/Guardian</label>
                <input type="text" name="nameofparents" required />
            </div>
            <div class="input-box">
                <label>ADDRESS</label>
                <input type="text" name="guardianaddress" required />
            </div>
            <div class="input-box">
                <label>Contact No. of Parents/Guardian</label>
                <input type="number" name="parentscontactno" required />
            </div>
            <div class="input-box">
                <label>Relationship</label>
                <input type="text" name="rs" required />
            </div> 
            <div class="column">
              <label>Upload your Valid ID here</label>
            <div class="upload" >
                <label for="file">Upload File</label>
                <input type="file" id="file" name="validID" required />
            </div>
            </div>
        <button type="submit">Submit</button>
      </form>
    </section>
  </body>
</html>