<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/CSS/papabaranggayid.css" />
  </head>
  <body>
    <div class="box">
      <a href="/brrs">X</a>
     </div>
    <section class="container">
      <header>BARANGAY ID</header>
      <form action="#" class="form">
        <div class="column">
        <div class="input-box">
          <label>FirstName</label>
          <input type="text" placeholder="" required />
        </div>
        <div class="input-box">
            <label>MiddleName</label>
          <input type="text" placeholder="" required />
        </div>
        <div class="input-box">
            <label>Surname</label>
            <input type="text" placeholder="" required />
          </div>
        </div>
        <div class="input-box">
            <label>ADDRESS</label>
            <input type="text" placeholder="" required />
        </div>
          <div class="input-box">
            <label>Birthday</label>
            <input type="date" placeholder="" required />
          </div>
          <div class="input-box">
            <label>Place of Birth</label>
            <input type="text" placeholder="" required />
          </div>
        </div>
            <div class="input-box">
              <label>Precint Number</label>
              <input type="text" placeholder="" required />
            </div>
            <div class="input-box">
              <label>Contact Number</label>
              <input type="number" placeholder="" required />
            </div>
            <div class="column">
                <div class="select-box">
                  <select>
                    <option hidden>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>sadasdasd</option>
                  </select>
                </div>
                <div class="select-box">
                    <select>
                      <option hidden>Status</option>
                      <option>Single</option>
                      <option>Mirried</option>
                      <option>Widowed</option>
                      <option>Divorced</option>
                    </select>
                  </div>
            </div>
            <div class="input-box">
                <label>Purpose</label>
                <input type="text" placeholder="" required />
            </div>
            <div class="input-box">
                <label>Height</label>
                <input type="text" placeholder="1'1" required />
            </div>
            <div class="input-box">
                <label>Weight</label>
                <input type="text" placeholder="50kg" required />
            </div>
            <label>Contact Person In Case of Emergency</label>
            <div class="input-box">
                <label>Name of Parents/Guardian</label>
                <input type="text" placeholder="Luffy D. Monkey" required />
            </div>
            <div class="input-box">
                <label>ADDRESS</label>
                <input type="text" placeholder="01, KALBO ST. MONTALBAN,RIZAL" required />
            </div>
            <div class="input-box">
                <label>Contact No. of Parents/Guardian</label>
                <input type="number" placeholder="000-0000-000" required />
            </div>
            <div class="input-box">
                <label>Relationship</label>
                <input type="text" placeholder="Father/Mother" required />
            </div> 
            <div class="column">
              <label>Upload your Valid ID here</label>
            <div class="upload" >
                <label for="file">Upload File</label>
                <input type="file" id="file" required />
            </div>
            <div class="upload" >
                <label for="file">Upload File</label>
                <input type="file" id="file" required />
            </div>
            </div>
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>